/* Remove Vite default body padding */
#root { display: flex; flex-direction: column; min-height: 100vh; }
main { flex: 1; }

.no-select-global {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
